{% extends 'base.html.twig' %}

{% block body %}
   <div class="jumbotron text.center">
      <h1>Agence</h1>
      <p>Les diagrammes de séquences sont la représentation graphique des interactions entre les acteurs et le système selon un ordre chronologique dans la formulation Unified Modeling Language. Wikipédia</p>
   </div>
{% endblock %}